@keyframes highlightAnimation {
  0% {
    border: initial;
    background-color: initial;
  }
  50% {
    background-color: #ededed;
  }
  100% {
    border: initial;
    background-color: initial;
  }
}

.highlight:focus {
  animation: highlightAnimation 3s ease-in-out;
}
